@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    overflow-x: hidden; 
}

header {
    text-align: center;
    background: rgb(255,232,242);
    background: radial-gradient(circle, rgba(255,232,242,1) 57%, rgba(137,192,255,1) 72%);
    padding: 20px;
    position: relative;
}

nav {
    text-align: center;
    background: rgb(255,211,230);
    background: radial-gradient(circle, rgba(255,211,230,1) 57%, rgba(76,159,255,1) 72%);
    padding: 10px 0;
}

nav a {
    color: #2F4F4F;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    color: #260af4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    background: rgb(79,129,255);
    background: linear-gradient(0deg, rgba(79,129,255,1) 0%, rgba(255,134,236,1) 100%);
    max-width: 100%;
}

.content-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33% - 40px); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content-box img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.formulario {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 5px;
    margin: 10px;
    width: calc(33% - 40px); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background: rgb(79,129,255);
    background: linear-gradient(0deg, rgba(79,129,255,1) 41%, rgba(255,189,245,1) 87%);
    padding: 20px;
    color: white;
    position: relative; 
    bottom: 0;
    width: 100%;
}

input[type="text"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2eb82e;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #24a024;
}

.Main-image, .Main-image2 {
    border-radius: 10px;
    margin: 1%;
    max-width: 300px;
}

.Main-image {
    width: 100%;
}

.Main-image2 {
    width: 100%;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 500px;
    height: auto;
    align-self: flex-start;
}

header h1, header h2 {
    margin: 0;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .content-box, .formulario {
        width: calc(100% - 40px);
    }
}
